body {
    background-color: purple;
    color: white;
    background-image: url("https://get.pxhere.com/photo/white-kitten-cat-mammal-black-look-up-whiskers-vertebrate-black-background-different-colored-eyes-cytochemistry-indexes-small-to-medium-sized-cats-cat-like-mammal-domestic-short-haired-cat-559892.jpg");
}
h1 {
    color: gold;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 25px;
}
