body {
    background-color: gold;
    background-image: url("http://content.king5.com/photo/2016/12/23/UW_Logo_Purple_On_Gold_1482508174908_7455435_ver1.0.jpg");
}
h1 {
    color: purple;
    text-align: center;
}
h2 {
    color: green;
    border-radius: 1px;
    text-align: center;
}
