body {
    background-color: purple;
    background-image: url("https://pxhere.com/en/photo/559892");
}
h1 {
    color: gold;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 25px;
}
